/********* BODY *********/

/***************** Partie titres boite 1 : *************/
.titre
{
    text-align: center;
    padding-top: 40px;
}
.titre .undertitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/******** Titres des box ********/

.titre-eclair, .titre-small-quantum, .titre-macaroons, .titre-dripping
{
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 265px;
    
}

.titre-macaroons, .titre-dripping
{
    margin-top: 40px;
    padding-bottom: 0px;
}
/********************** BOX 2 ET 3 **********************/

.box2, .box3
{
    background-color: #f5f5f5;
    display: inline-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
}

/*** sous-div de gauche ***/

.box2 .first-article, .box3 .first-article
{
    width: 360px;
    height: 194px;
}

.chocolate
{
    font-family: Arial, Helvetica, sans-serif;
    width: 270px;
    padding: 20px 10px 15px 5px;
}

.price1, .price2
{
    padding-left: 5px;
    color: #f2cb6c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*** sous-div de droite ***/

.cake-box
{
    width: 360px;
    height: 194px;
}

.eclair, .macarons, .surprise1, .surprise2
{
    width: 360px;
    height: 194px;
}

/************************** BOX 4 ************************/

.manymore
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.chocolate-grey
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.4px;
    color: slategray;
    width: 800px;
    justify-content: center;
    margin : 0px auto 50px auto
}

.box4
{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 80px;
}

.pastries
{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    padding-right: 10px;
    padding-bottom: 10px;
}

/************************* Media Queries pour écran moyen : ***********************/

@media screen and (max-width: 750px)
{
    .container
{
    width: 100%;
    max-width: 750px;
}

.undertitle
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/******** Titres des box ********/

.titre-eclair, .titre-small-quantum
{
    margin-left: 160px;
}

.titre-macaroons, .titre-dripping
{
    margin-left: 160px;
    margin-top: 80px;
}

.chocolate
{
    width: 400px;
    font-size: 12.5px;
}

.chocolate-grey
{
    width: 100%;
    text-align: center;
}

/************ BOXES *********/
.box2, .box3
{
    flex-direction: column;
    width: 100%;
    height: 480px;
    padding-left: 0px;
}

.box4
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
}

.surprise1, .surprise2, .macarons, .eclair
{
    width: 430px;
    height: 230px;
}

/************************* Media Queries pour petit écran ***********************/


@media screen and (max-width: 500px)
{
    .container
{
    width: 100%;
    max-width: 750px;
}
.logoheader
{
    height: 50px;
    width: 120px;
    margin-right: 20px;
}
.titre
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}


/***** Titre des box *******/

.titre-eclair, .titre-macaroons, .titre-small-quantum, .titre-dripping
{
    margin-left: 60px;
    width: 70%;
}
.box2, .box3
{
    width: 100%;
}
.box4
{
    width: 65%;
}
.eclair, .macarons, .surprise1, .surprise2
{
    width: 90%;
}
.chocolate
{
    width: 90%;
    font-size: 16px;
}
.chocolate-grey
{
    width: 80%;
}
